# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Debug
npm-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/migrations/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

CLAUDE.md
LAUNCH.md

.mcp.json
